<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <script>
                $(function(){
                    $('#camera').change(function(e){
                        $('#pic').attr('src', URL.createObjectURL(e.target.files[0]));
                    });
                });
            </script>
            <input type="file" id="camera" name="camera" capture="camera" accept="image/*" />
            <br/>
            <img id="pic" style="width:100%;" />
</head>
<body>
    {{session_id}}

    <input type="file" id="camera" name="camera" capture="camera" accept="image/*" />
    <br />

    <img id="pic" style="width:100%;" />
</body>
</html>