<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <br>
        세션이름 <br>
        <input name="session_name" type="text">
        <br>
        집결지 <br>
        <input name="session_location" type="text">
        <br>
        세션일자 <br>
        <input name="launch_date" type="datetime-local">
        <br>
        <br><br>
        참가비 <br>
        <input name="application_fee" type="text">
        <br>
        <br><br>
        <input type="submit" class="btn btn-primary" value="세션 만들기">
    </form>
</body>
</html>