<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div style="text-align: center;">
            <h1>로그인</h1>
            <form method="POST">
                {% csrf_token %}
                이름+전화번호뒤4자리:
                <br>
                <input name="username" type="text">
                <br>
                비밀번호:
                <br>
                <input name="password" type="password">
                <br><br>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>
</body>
</html>