/* iPhone 11 Pro / X - 1 */
.myBox {
    position: relative;
    width: 375px;
    height: 812px;
    background: #FF0099;
}

/* RLOG */

.myLogo {
    position: absolute;
    width: 343px;
    height: 132px;
    left: 15px;
    top: 56px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 145px;
    text-align: center;
    
    color: #7000FF;
    
    border: 1px solid #000000;
}
